<div class="container" >
  <h1> 3 random movies: </h1>
  <div class="container">
  <%  @three_random_movies.each do |movie| %>

    <a href="/home/movie?title=<%= movie %>"> <%= movie %> </a>
    <br>
    <%end%>
  </div>
  </br>
  </br>
  <h1> Happy birthday! </h1>
  <!-- for birthdays -->
</br>
</br></br>
</br></br>
</br>
</br></br>
</br></br>
</br>
</br><hr>
<div class="container">
  <p>
    Number of triplets = <%=@numberOfTriplets%>; &nbsp;&nbsp;
    Number of movies = <%=@numberOfMovies%>; &nbsp;&nbsp;
    Number of classes = <%=@numberOfClasses%>; &nbsp;&nbsp;
    Number of directors = <%=@numberOfDirectors%>
  </p>
</div>
</div>
